numpy
joblib
tqdm
pandas
argparse
nltk
spacy-pkuseg
spacy
stanza
bangla_stemmer
torch
transformers
zstandard

#install numpy beforehand
#python -m spacy download de_core_news_sm
#python -m spacy download ru_core_news_sm
