datasets<3.0.0
numpy<2
joblib
tqdm
pandas
pyarrow
argparse
spacy
pkuseg
bangla_stemmer
trankit
hf_xet
addict
torch
transformers
pillow
zstandard

#install numpy beforehand
#python -m spacy download de_core_news_sm
#python -m spacy download ru_core_news_sm
